%form{:id => "create_contact"}

%div{:id => "contact_#{@duplicate.id}"}

  - duplicate_attributes = contact_merge_attributes(@duplicate)
  - master_attributes    = contact_merge_attributes(@master)
  - default_merge        = calculate_default_merge(duplicate_attributes, master_attributes)

  .remote.merge_form
    = form_for(@duplicate, :url => into_merge_path(:klass_name => 'contacts', :duplicate_id => @duplicate.id, :master_id => @master.id), :html => one_submit_only(:contact), :remote => true) do |f|
      = link_to_close into_merge_path(:klass_name => 'contacts', :duplicate_id => @duplicate.id, :master_id => @master.id, :previous => @previous)

      %h2 Merge "#{@duplicate.name}" into "#{@master.name}"
      %h3= link_to(t('switch_duplicate_and_master').html_safe, "#", :onclick => "ffcrm_merge.load_form('contacts', '#{@duplicate.id}', '#{@master.id}', '#{@previous}');")
      = hidden_field_tag :previous, @previous
      = flash[:error] if flash[:error]
      .subtitle
        = t(:merge_into_info)

      .section
        #merge_into
          %table
            %tr
              %th
              %th{ :class => 'merge_title', :width => "40%" }
                = "#{t(:duplicate_asset, :asset => t(:contact))}: #{@duplicate.name}"
              %th{ :class => 'merge_title', :width => "40%" }
                = "#{t(:master_asset, :asset => t(:contact))}: #{@master.name}"
              - attributes_without_custom_fields = master_attributes.keys.reject{|k| k =~ /^cf_/}
              - attributes_without_custom_fields.each do |attribute|
                - duplicate_value, master_value = duplicate_attributes[attribute], master_attributes[attribute]
                - unless duplicate_value.blank? and master_value.blank?
                  %tr
                    %th{ :width => "20%" }
                      .label #{attribute.humanize}
                    %td
                      = ignore_merge_radio_button("no",  attribute, default_merge[attribute]) unless duplicate_value.blank?
                      .label #{duplicate_value}
                    %td
                      = ignore_merge_radio_button("yes", attribute, default_merge[attribute]) unless master_value.blank?
                      .label #{master_value}
              %tr
                %th{ :width => "20%" }
                  .label Tags:
                %td
                  .tags
                    - @duplicate.tags.each do |tag|
                      = link_to tag.name, '#'
                %td
                  .tags
                    - @master.tags.each do |tag|
                      = link_to tag.name, '#'

      = render :partial => "merge/custom_fields", :locals => {:master => @master, :duplicate => @duplicate}

      .section
        %h3= "Additional data from #{@duplicate.name} will also be merged"
        %ul
          %li (<strong>#{AccountContact.where(:contact_id => @duplicate.id).count}</strong>) accounts
          %li (<strong>#{@duplicate.opportunities.size}</strong>) opportunties
          %li (<strong>#{@duplicate.tasks.size}</strong>) tasks
          %li (<strong>#{@duplicate.emails.size}</strong>) emails
          %li (<strong>#{@duplicate.comments.size}</strong>) comments

      .buttonbar
        = f.submit t(:merge_assets, :assets => t(:contacts)), :onclick => "var check=confirm('#{t('confirm_assets_merge', :assets => t(:contacts))}'); if(!check){return false;};"
        #{t :or}
        = link_to_cancel edit_contact_path(@duplicate)
