= link_to(t('merge'), "#", :id => "merge_contact_#{contact.id}", 'data-merge' => "contact_#{contact.id}") + " | "

= javascript_tag "crm.merge_link($('merge_contact_#{account.id}'));" if params[:cancel]
