- popup = asset.class.to_s.downcase.pluralize
- singular = asset.class.to_s.downcase

:plain
  new crm.Popup({
    trigger     : "merge_#{singular}_#{asset.id}",
    target      : "jumpbox",
    under       : "#{singular}_#{asset.id}",
    appear      : 0.3,
    fade        : 0.3,
    before_show : function() {
      $("jumpbox_menu").hide();
      $("jumpbox_label").innerHTML = "#{t('merge_asset_popup_label', :asset => singular)}"
      $("jumpbox_label").show();
      crm.auto_complete("#{popup}", "#{asset.id}", false, ["#{asset.id}"], "merge");
    },
    after_show  : function() {
      $("auto_complete_query").focus();
    },
    after_hide  : function() {
    }
  });

