= link_to(t('merge'), "#", :id => "merge_account_#{account.id}", 'data-merge' => "account_#{account.id}") + " | "

= javascript_tag "crm.merge_link($('merge_account_#{account.id}'));" if params[:cancel]
